/*------- RESET -------*/
*{
  margin: 0;
  padding: 0;
}
.clearfix:before,
.clearfix:after{
  content: '';
  display: table;
}
ol, ul {
    list-style: none;
}

/*------- /RESET -------*/

.background {
  position:fixed;
    width: 100%;
    height: 100%;
    z-index: -1;


}
.intro{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
    font-size: 30px;
    padding-top: 414px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.lienlivre{
    color: white;
    border: solid white 5px;
    position: relative;
    text-align: center;
    width: 7%;
    margin: 150px auto;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    display: block;
}

/*------- Burger + Logo -------*/

.logo{
  width: 600px;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  transform: translateX(0%);
  transition: transform .5s ease-in-out;
    z-index:1;
    'top: -35%;
}
.logo.isOpen{
  transform: translateX(300%);
  transition: transform .5s ease-in-out;
}

.btn-nav{
  position: fixed;
  margin: 40px;
  left: 30px;
  top: 30px;
  cursor: pointer;
  float: left;
  z-index: 1;
}
.btn-nav .barre{
  width: 35px;
  height: 7px;
  background: white;
  margin-top: 3px;
  z-index: 1;
  border: solid 1px black;
}
.navigation{
  position: fixed;
  padding: 0 30px;
  width: 75%;
  height: 30%;
  transform: translateX(-100%);
  transition: transform .6s ease-in-out;
}
.navigation ul{
  position: absolute;
  left: 28%;
}
.navigation ul li{
  margin: 74px 0;
  float: left;
}
.navigation ul li a{
  color: #fff;
  margin: 20px 30px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: .070em;
  top: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.navigation.isOpen{
transform: translateX(0%);
margin-left: 10%;
margin-top: 0.5%;
}
.navigation ul li a:hover{
  color: red;
}

/*------- /Burger + Logo -------*/

/*------- Section Photo Home -------*/

.debut {
    transition: .5s;
}
.millieu{
    color: white;*
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}
figcaption{
    display: block;
    position: absolute;
    opacity: 1;
    color: white;
    width:100%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*transition: .5s;*/
  }
figcaption p {
    text-align: center;
}
figure{
    position: relative;
    filter: grayscale(100%);
    display: inline-block;
    text-align: center;
    /*transition: .5s;*/
}
figure:hover{
    filter: grayscale(20%);
    transition: .5s;
}
figure:hover figcaption {
    opacity: 0;
    transition: .5s;
}
.filtre{
    width: 350px;
    padding: 2.8px;
}
.tphoto{
    font-size: 50px;
    color:white ;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-transform : uppercase;
}
.containerphoto{
    padding-top: 470px;
    padding-bottom: 200px;
    width: 75%;
    height: 650px;
    margin: 0 auto;
    padding-left: 50px;
}

/* filtre noir */

.imagediv{
    color: #FFF;
    background: #000;
    display: inline-block;
}
.imagediv img {
    opacity: 0.4;
}
.imagediv:hover img{
    opacity: 1;
}

/*------- /Section Photo Home -------*/

/*------- Section Auteur -------*/

.auteur{
    margin: 130px auto;
    width: 1400px;
    background-color: rgba(0,0,0,0.6);
}
.fondtextauteur{

padding-bottom: 32%;
position: relative;
right: 327px;
top: -33px;
height: 166px;

}
.atext{
    width: 45%;
    font-size: 20px;
    text-align: center;
    height: inherit;
    display: inline-block;
    padding-top: 250px;
    color: #ffffff;
}
.auteurtext{
text-align: justify;
position: absolute;
margin-left:80%;
transform: translateX(-50%);
    top:9%;
    padding-left: 400px;
    width:100%;
    padding-top: 82px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    display: block;
}
h3{
    display: block;
    position: absolute;
    top: 70px;
    left: 610px;
    width: 164px;
    font-size: 30px;
}
.aphoto{
    width: 45%;
    height: inherit;
    float: left;
}
.auteurphoto{
    display: block;
    width: 600px;
    position: relative;
    top: 40px;
    padding-left: 50px;
}

/*------- Section Auteur -------*/


/*------- Scroll JS -------*/

.nonvisible{
    opacity: 0;
    transition: .5s;
}
/*------- Scroll JS -------*/


